  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Roboto:wght@100;300;400;700;900&display=swap');

  * {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16x;
}

.main {
  min-height: 1051.200px;
  min-width: 3892.610px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0.5rem 5rem;
}

.logoImg{
  text-decoration: none;
  height: 3rem;
  width: 18.8rem;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: serif;
  font-size: 1.15rem;
  font-weight: 500;
  height: 100%;
  width: 38vw;
}
.menu > a{
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  height: "100%";
  cursor: "pointer";
  color:black
}


.dwnldZET button{
  background: rgb(32, 117, 240); 
  border: none; 
  color: rgb(255, 255, 255); 
  border-radius: 8px; 
  height: 2.5vw;
  width: 120%;
  margin: 10px;
}


.hamburgerMenu{
  display: none;
}

.featuredImg img{
  width: 100%;
  height: 100%;
}
h1{
  width: 78vw;
  height: 6vh;
  margin: 32px 0px;
  align-items: start;
  font-size: 40px;
  line-height: 40px;
  font-weight: 800;
}

.investors{
  padding-top: 2vw;
  padding-bottom: 8vw;
  padding-left: 5rem;;
  padding-right: 5rem;;
  position: relative;
}

.investors h1{
  align-items: start;
  margin: 26px 0px;
}

.companyInvestor{
  display: grid;
  gap: 2vw;
  margin-top: 4vw;
  position: inherit;
  z-index: 10;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border: 1px solid green;
  animation-name: sample;
  opacity: 1;
  
}

.companyInvestor div{
  padding: 2rem;
  z-index: 20;
  position: relative;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes sample {
  from{
    opacity: 0;
  transform: translate(0px, 0px)

  }
  to{
    opacity: 1;
  transform: translate(0px, -25px)

  }
}